*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #607d8b;
}

.wrapper {
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 40px;
  width: 640px;  
  padding: 5px;
}

.form-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  /* border: 1px solid red; */
}

.input-field {
  width: 230px;
  margin: 0;
  background-color:  #f0f8ff;
  border-radius: 4px;
}

.filed-value {
  position: relative;
}

@media (max-width: 675px) {
  .wrapper {
    width: 100%;
  }
  .input-field {
    width: 35%;
  }


.btn {
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    padding: 0 ;
    margin-right: 0!important;
    margin-left: 10px;
}
  


  .btn-wrap {
    width: 100%;
  }
}

@media (max-width: 530px) {
  .form-wrap {
    display: block;
  }

  .input-field {
      width: 75%;
      margin: 0 auto;
      margin-bottom: 1rem;
  }

  .btn-wrap {
      margin: 0 auto;
  }
}

.errorMes {
  /* position: relative;
  top: 10px; */
  position: absolute;
  bottom: -30px;
  left: 0;
  text-align: center;
  background-color: orangered;
  width: 230px;
  border-radius: 4px;
  color: #f0f8ff ;
}

.errorMes:before {
  content: "";
  display: block;
  height: 8px;
  width: 8px;
  position: absolute;
  top: -4px;
  left: calc(50% - 4px);
  background-color: orangered;
  transform: rotate(45deg);
}

.select-wrapper {
  /* background-color:  #f0f8ff; */
}

.select-wrapper input.select-dropdown,
input[type=text]:not(.browser-default),
input[type=number]:not(.browser-default)
{
  padding: 0 5px;
  margin: 0;
  /* background-color:  #f0f8ff; */
  border-radius: 4px;
  border-bottom: none;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.select-wrapper input.select-dropdown:focus,
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly])
{
  border-bottom: 1px solid #26a69a;
  border-bottom: none;
}

input[type=text]:not(.browser-default):disabled {
  color: #000000
}

input[type=text]:not(.browser-default):disabled {
  border: none;
}

.btn-wrap {
  width: 120px;
}

.btn {
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  padding: 0 15px;
  margin-right: 10px;
}

.code {

}

.code-blog {
  background-color: floralwhite;
  margin: 1rem 0;
  padding: 2rem;
}



.hide {
  display: none;
}

